@page
@model TicTacToe.Pages.TicTacToe2Model
@{
    ViewData["Title"] = "TicTacToe2";
}

<h2>TicTacToe2</h2>

@for (int i = 0; i < Model.Board.GetLength(0); i++)
{
	<div class="row">
		@for (int j = 0; j < Model.Board.GetLength(1); j++)
		{
			<div class="square">@Model.Board[i,j]</div>
		}
	</div>
}

